
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset=utf-8>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./style.css">

	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.9/vue.min.js"></script>
	<script type="text/javascript" src="./app.js" async></script>
</head>
<body>
<div class="container-fluid" id="app">
  <div class="row">
	<div class="col-md-12">
	  <div class="header">
		<h3>200 NOT OUT</h3>
	  </div>
	</div>
  </div>
  <div class="row">
	<div id="resetGameSection" class="col-md-2 mb-3">
	  <button type="button" class="btn btn-secondary" v-on:click="resetGame">Reset Game</button>
	</div>
	<div class="col-md-5">
	  <div class="input-group mb-3">
		<div class="input-group-prepend">
		  <span class="input-group-text">Lowest score</span>
		</div>
		<div class="form-control">{{lowestScore}}</div>
		<div class="input-group-append">
		  <button type="button" class="btn btn-secondary" v-on:click="computeScores" v-on:keyup.enter="computeScores">Calculate</button>
		</div>
	  </div>
	</div>
	<div class="col-md-5">
	  <div class="body">
		<div class="input-group mb-3">
		  <input type="text" class="form-control" placeholder="Enter player's name" v-model="newMemberName" v-on:keyup.enter="addMember">
		  <div class="input-group-append">
			<button type="button" class="btn btn-secondary" v-on:click="addMember">Add</button>
		  </div>
		</div>
	  </div>
	</div>
	<div class="col-md-5">
		<div class="body">
			<div class="input-group mb-3">
			  <input type="text" class="form-control" placeholder="Enter Max Score" v-model="maximumScore" v-on:keyup.enter="calculateMaxScore">
			  <div class="input-group-append">
				<button type="button" class="btn btn-secondary" v-on:click="calculateMaxScore">Add</button>
			  </div>
			</div>
		  </div>
	  </div>
  </div>
  <div class="row">
	<div class="col-md-12">
	  <div class="input-group">
		<div class="form-control col-header">Player name</div>
		<div class="form-control col-header">Total score
			<button type="button" class="sorting"></button>
		</div>
		<div class="form-control col-header">Current score</div>
	  </div>
	</div>
  </div>
  <div class="row">
	<div class="col-md-12">
	  <div class="gamer-row input-group" v-for="gamer in gamers" v-bind:class="{ playerBusted: gamer.isBusted }">
		<div class="gamer-name form-control">{{gamer.name}}</div>
		<div class="total-score form-control">{{gamer.totalScore}}</div>
		<input type="number" v-model="gamer.currentScore" class="form-control current-score" placeholder="score">
	  </div>
	</div>
  </div>
</div>
</body>
</html>
